In [4]:
import pandas as pd
from IPython.display import display, HTML

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Create HTML with custom font
html = df.to_html()
style = """
<style>
    table {
        font-family: 'Ruda'; /* Change to your desired font */
        font-size: 10pt; /* Change to your desired size */
    }
</style>
"""
display(HTML(style + html))

In [6]:
import pandas as pd
from IPython.display import display, HTML

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [7]:
import pandas as pd
from IPython.display import display, HTML

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
daf = pd.DataFrame(data)
daf

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35